@font-face {
  font-family: titleFont;
  src: url(./fonts/iCiel\ Ultra.ttf);
}


body{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;  
}

.mainframe {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  height: 600px;
  width: 650px;
  background-color: lightgrey;  
  border-radius: 15px;
  filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.3));
}

.startBanner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  margin-top: 20px;
}
#title{  
  font-family: titleFont;
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 0;
}
#playButton{    
  width: 100px;
  height: 30px;
}

.scoreBoard{  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;  
  text-align: center;
  height: 75px;
  margin-top: 20px;
}
#statusMessage{  
  width: 100%;
  text-align: center;
  margin:0;
}
.scores{
  width: 100%;  
  display: flex;
  justify-content: space-between; 
  margin: 0 40px 0 40px; 
}

.choicePreview{  
  width: 100%; 
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
}
.computerSide, .playerSide{  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playButtonsFrame{
  width: 100%;    
  height: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.message2player{
  width: 100%;
  height: 50px;
  text-align: center;
}
.message2player h3{
  margin: 0;
}
